<div class="layer">
  <div class="layer-banner">
    <label for="burger-menu-button" class="burger-menu-button">
      <i class="fa fa-bars"></i>
    </label>
    <banner></banner>
  </div>
  <div class="layer-middle">
    <input type="checkbox" name="burger-menu-button" id="burger-menu-button">
    <aside class="layer-sidebar">
      <navigation></navigation>
    </aside>
    <main class="layer-content">
        <div class="layer-page">
          <router-outlet></router-outlet>
        </div>
        <div class="layer-footer">
          <span>Copyright © 2020 craft.code.it</span>
        </div>
    </main>
  </div>
</div>

