// Variables
$text-color : #FFFFFF;

$primary : #1976d2;
$primary-hover: darken($primary, 15%);
$primary-disabled: darken($primary, 25%);

$secondary : #FF5252;
$secondary-hover: darken($secondary, 15%);
$secondary-disabled: darken($secondary, 25%);
